@import "tailwindcss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    font-family: Pretendard, sans-serif;
    background: #fafafa;
    color: #171717;
}

.workpad {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 20px;

    overflow: visible;

    transform: scale(0.83);
    transform-origin: center;
}

.time {
    margin-top: 0;
    font-size: 80px;
    font-weight: 700;
}

.date {
    margin-top: -10px;
    font-size: 30px;
    color: #8d8d8d;
}

.title {
    margin-top: 40px;
    text-align: center;
}

.title h2 {
    font-size: 35px;
    font-weight: 700;
}

.title p {
    margin-top: -1px;
    font-size: 20px;
    color: #888;
}

.number-box {
    display: flex;
    gap: 16px;
    margin-top: 30px;
}

.number-box div {
    width: 75px;
    height: 85px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #e5e5e5;
    border-radius: 14px;

    background: white;

    font-size: 30px;
    font-weight: 500;
}

.number-box div.active {
    border: 2px solid #4a7dff;
}

.keypad {
    width: 410px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 14px;

    margin-top: 40px;
}

.keypad button {

    height: 80px;

    border: 1px solid #ececec;
    border-radius: 14px;

    background: white;

    font-size: 25px;
    font-weight: 500;

    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
}

.confirm {

    width: 410px;
    min-height: 70px;

    margin-top: 35px;

    border: none;
    border-radius: 14px;

    background: #1f73b9;

    color: white;

    font-size: 22px;
    font-weight: 700;

    cursor: pointer;

    transition:
        background .15s,
        transform .08s,
        box-shadow .12s;

}

.confirm:hover {

    background: #185d96;

}

.confirm:active {

    transform: scale(.98);

}

.logo {

    margin-top: 42px;

    display: flex;
    align-items: center;
    gap: 12px;

    color: #888;
    font-size: 20px;
    font-weight: 500;
}

.logo-icon {
    width: 50px;
    height: 38px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #8f8f8f;
    border-radius: 10px;

    color: #666;
    font-size: 18px;
    font-weight: 600;
}

.keypad button {

    height: 80px;

    border: 1px solid #ececec;
    border-radius: 14px;

    background: white;

    font-size: 25px;
    font-weight: 500;

    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);

    cursor: pointer;

    transition:
        background .12s,
        transform .08s,
        box-shadow .12s;
}

.keypad button:hover {

    background: #f6f6f6;
}

.keypad button:active {

    background: #e8e8e8;

    transform: scale(0.96);

    box-shadow: inset 0 2px 6px rgba(0,0,0,.12);
}