.sidebar {

    width: 240px;
    min-height: 100vh;

    background: #ffffff;

    border-right: 1px solid #ececec;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 28px 0;
}

.sidebar-logo {

    font-size: 26px;
    font-weight: 700;

    margin-bottom: 40px;
}

.sidebar-menu {

    display: flex;
    flex-direction: column;
    gap: 6px;

    padding: 0;
    
}

.sidebar-menu a {

    width: 100%;
    height: 48px;

    border: none;
    border-radius: 0px;

    background: transparent;

    padding: 0 28px;

    text-align: left;

    font-size: 17px;
    font-weight: 500;

    color: #555;

    cursor: pointer;

    transition: .2s;

    text-decoration: none;

display:flex;
align-items:center;
}

.sidebar-menu a:hover {

    background: #f4f4f4;
}

.sidebar-menu a.active {

    background: #1f73b9;

    color: rgb(255, 255, 255);
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-footer {

    margin-top: auto;

    padding: 20px 28px 0;

    position: relative;
}

.sidebar-footer::before {

    content: "";

    position: absolute;

    top: 0;
    left: 28px;
    right: 28px;

    height: 1px;

    background: #ececec;
}

.sidebar-footer-title {

    font-size: 15px;
    font-weight: 600;
}

.sidebar-footer-version {

    margin-top: 4px;

    font-size: 13px;

    color: #999;
}

.sidebar-logo {
    padding: 0 28px;
}

.sidebar-logout{

    width:100%;
    height:48px;

    margin-top: 5px;

    border:none;
    background:transparent;

    display:flex;
    align-items:center;

    padding:0 28px;

    font-size:17px;
    font-weight:500;

    color:#666;

    cursor:pointer;

    transition:.2s;

}

.sidebar-logout:hover{

    background:#fff3f3;

    color:#d93025;

}